<section id="a-propos" class="bg-gradient-to-bl from-gray-900 to-gray-700 text-gray-100 py-12">
    <div class="container mx-auto px-4">
      <h2 class="text-3xl font-bold text-center mb-8 text-white">À propos de StockData</h2>
      <div class="max-w-3xl mx-auto">
        <p class="text-lg mb-6">
          Chez StockData, notre mission est de propulser votre entreprise vers l'avenir grâce à des solutions technologiques de pointe. Nous nous spécialisons dans :
        </p>
        <ul class="list-disc list-inside mb-6 space-y-2 text-gray-300">
          <li>L'optimisation des infrastructures</li>
          <li>La sécurisation des données</li>
          <li>L'intégration de solutions d'intelligence artificielle sur mesure</li>
        </ul>
        <p class="text-lg mb-6">
          Notre expertise couvre un large éventail de domaines, notamment :
        </p>
        <ul class="list-disc list-inside mb-6 space-y-2 text-gray-300">
          <li>L'optimisation des datacenters</li>
          <li>La gestion des architectures cloud hybrides</li>
          <li>La mise en place de pipelines de données efficaces</li>
          <li>Le développement et l'implémentation d'algorithmes d'IA avancés</li>
        </ul>
        <p class="text-lg">
          Que vous cherchiez à moderniser votre infrastructure existante ou à exploiter la puissance de l'IA pour gagner un avantage concurrentiel, StockData est votre partenaire de confiance pour relever les défis technologiques d'aujourd'hui et de demain.
        </p>
      </div>
    </div>
  </section>