---

---

<div class="relative">
  <svg
    class="w-full drop-shadow-top"
    viewBox="0 0 1440 100"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path fill="#FFF" d="M0,100 Q720,0 1440,100 L1440,100 L0,100 Z"></path>
  </svg>
</div>

<style>
  .drop-shadow-top {
    filter: drop-shadow(0 -5px 10px rgba(0, 0, 0, 0.05));
  }
</style>
