---
import type { NavLink } from "../../index.d";
import useContent from "../utils/useContent";
import AppLogo from "./AppLogo.astro";
const title = useContent("global.title")
const navLinks = useContent("navbar.items")
---

<header id="navbar" class="h-20 flex items-center w-full fixed top-0 left-0 z-50 bg-white shadow-md px-14 transition-all duration-300 transform">
    <nav class="flex items-center w-full justify-between">
        <div class="flex items-center text-black">
            <AppLogo />
            <h1 class="text-2xl font-bold ml-2 hidden sm:block">{title}</h1>
        </div>
       <ul>
            {navLinks.map((link: NavLink) => (
                <li class="inline-block ml-4">
                    <a href={link.link} class="text-black font-normal hover:underline underline-offset-8 transition">{link.title}</a>
                </li>
            ))}
       </ul>
    </nav>
</header>

<style>
    #navbar {
        transition: transform 0.3s ease-in-out;
    }
    #navbar.navbar-hidden {
        transform: translateY(-100%);
    }
</style>

<script>
    const navbar = document.getElementById('navbar')!;
    let lastScrollTop = 0;
    const scrollThreshold = 20; // Change this value to adjust when the navbar becomes fixed

    function handleScroll() {
        const scrollTop = window.scrollY || document.documentElement.scrollTop;

        if (scrollTop > scrollThreshold) {
            if (scrollTop > lastScrollTop) {
                // Scrolling down
                navbar.classList.add('navbar-hidden');
            } else {
                // Scrolling up
                navbar.classList.remove('navbar-hidden');
            }
        } else {
            navbar.classList.remove('navbar-hidden');
        }

        lastScrollTop = scrollTop;
    }

    window.addEventListener('scroll', handleScroll);
</script>